interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.cuitonline.com/search.php?q=gaitan&pn=1&f5%5B%5D=persona%3Ajuridica
  response:
    body:
      string: " <!DOCTYPE html> <html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"es-AR\"
        lang=\"es-AR\"> <head> <meta name=\"verify-admitad\" content=\"deeab3f4f3\"
        /> <meta name=\"getlinko-verify-code\" content=\"getlinko-verify-ace920495c14c857bbad0f2f509df3315c79c663\"/>
        <meta name=\"publisuites-verify-code\" content=\"aHR0cHM6Ly93d3cuY3VpdG9ubGluZS5jb20=\"
        /> \r\n\r\n    <script>\r\n        const loadScript = ({ src, async = false,
        type }) => {\r\n            return new Promise((resolve, reject) => {\r\n
        \               const script = document.createElement('script');\r\n                script.src
        = src;\r\n                if (async) script.async = true;\r\n                if
        (type) script.type = type;\r\n\r\n                script.onload = () => resolve(src);\r\n
        \               script.onerror = () => reject(src);\r\n\r\n        [...]
